.root {
    -fx-background-color: white;
}

.searchArea {
    -fx-padding: 10px;
    -fx-border-color: #a0a0a0;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2px;
}

.libraryPane {
    -fx-padding: 15px;
}