#filterArea {
    -fx-padding: 20px 0 0 0;
}
#results {
    #error {
        -fx-text-fill: red;
        -fx-padding: 20px;
    }
    #scrollPane {
        -fx-background-color: transparent;
    }
    #resultsContainer {
        -fx-background-color: white;
        -fx-padding: 5px;
    }
}