.card {
    -fx-background-color: white;
    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0, 1.5);
    -fx-padding: 8px;
}

#title {
    -fx-font-weight: bold;
    -fx-font-size: 10pt;
    -fx-text-fill: black;
}

#altTitle {
    -fx-font-size: 8pt;
    -fx-text-fill: grey;
}

#minorDetails {
    .label {
        -fx-font-size: 8pt;
        -fx-text-fill: white;
        -fx-background-radius: 3;
        -fx-padding: 2px;
    }
    #minorDetail1 {
        -fx-background-color: #428bca;
    }
    #minorDetail2 {
        -fx-background-color: #ff6600;
    }
    #minorDetail3 {
        -fx-background-color: #a0a0a0;
    }
}

.jfx-button {
    -fx-padding: 0.57em;
    -fx-font-size: 12px;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(77,102,204);
    -fx-text-fill: WHITE;
}